CarcassoneServer/packages/
CarcassoneClient/Library/
CarcassoneServer/Carcassone.Server/obj/
CarcassoneServer/Carcassone.Server/bin/
CarcassoneServer/Carcassone.Core/obj/
CarcassoneServer/Carcassone.DAL/obj/
CarcassoneServer/Carcassone.DAL/bin/
CarcassoneServer/Carcassone.Core.Tests/obj/
*/bin/*
/bin
*/bin
CarcassoneServer/Carcassone.Core.Tests/bin/
CarcassoneClient/Packages/
CarcassoneClient/.vs/
CarcassoneClient/obj/
CarcassoneServer/.vs/
CarcassoneServer/Carcassone.Core/bin/
